.App {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  margin: auto;
  padding: 2%;
  display: block;
}

.NavBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.SiteHome {
  margin: 20vw;
}

body {
  color: #336699;
}

a {
  text-decoration: none;
  color: #113399;
}

button {
  margin: 2%;
  width: max-content;
  height: auto;
  background-color: #33ff99;
  color: #cc1486;
  padding: 2%;
}

/* fluorescent green: 33ff99 */
/* dark blue: 336699 */
/* fuscia: cc1486 */
